{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<link href="signup.css" rel="stylesheet">
<!--
    <h2>Přihlášení</h2>
    <div class="box">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Přihlásit se</button>
        </form>
    </div>
    <div class="box">
        Můžete se  <a href= "/accounts/signup/ " >  registrovat </a> zdarma zde.
    </div>

-->

  <body id="body" class="text-center">
    <form class="form-signin">
      <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}

        <img class="mb-4" src="{% static 'claim/logo.png' %}" alt="" width="132" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Prosím, přihlaste se</h1>
        <label for="inputUser" class="sr-only">Username</label>
        <input type="User" id="inputUser" class="form-control" placeholder="Uživatelské jméno" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
    </form>
  </body>


{% endblock %}