body {
  height: 100vh;
}


.box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

button {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
button{
  font-weight: 400;
}
button {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 56px;
  background-color: #46A0E3;
  font-weight: bold;
}
button{
  z-index: 2;
}
#id_username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}
#id_username {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#id_password {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#id_password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

label {
  font-weight: bold;
}