{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
  <body id="body" class="text-center">

      <form method="POST">
        {% csrf_token %}

        <img class="mb-4" src="{% static 'claim/logo.png' %}" alt="" width="132" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Prosím, přihlaste se</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="username" name="username" id="username" class="form-control" placeholder="Uživatelské jméno" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password"  name="password" id="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>

  </body>


{% endblock %}