{% extends 'main.html' %}

{% block title %} IMMO Business a.s. {% endblock %}

{% block content %}

<div class="about us" id="about-us">
    <hr class="hr hr-primary divider-lg">
    <div class="cell-sm-12 cell-md-4 cell-lg-4 section-bottom-30">
        <h2>O společnosti</h2>
        <p>Společnost IMMO Business a.s. je finanční společností, která se zabývá poskytováním podnikatelských a
            korporátních úvěrů zajištěných nemovitostí. Společnost byla založena v roce 2018, přičemž jen za první 4
            roky svého působení poskytla úvěry v objemu téměř 300 milionů Kč.</p>
    </div>
</div>
<div class="contacts">
    <h2>Kontakty</h2>
    <div class="address">
        <h3>Adresa:</h3>
        IMMO Business a.s.<br>
        Rohanské nábřeží 693/10<br>
        Rustonka, budova R2<br>
        186 00 Praha 8
    </div>
</div>
<div class="phones">
    <h3>Telefon:</h3>
    +420 222 200 696<br>
    +420 774 232 377
</div>
<div class="emails">
    <h3>E-mail:</h3><a href="mailto:immobusiness@immobusiness.cz">immobusiness@immobusiness.cz</a>
</div>
<span class="h3">IČ:</span> 075 60 273<br>
<p class="small">Společnost je zapsaná v obchodním rejstříku vedeném<br>u Městského soudu v Praze v oddíle B, vložce
    23830</p>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1279.6548313379744!2d14.463791370209359!3d50.099210598940324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b9356298f69a1%3A0x131ae4bba6c75d55!2sBudova%20R2%2C%20Rohansk%C3%A9%20n%C3%A1b%C5%99.%20693%2C%20186%2000%20Praha%208-10!5e0!3m2!1sen!2scz!4v1664476451288!5m2!1sen!2scz"
            width="600" height="450" style="border:0;" allowfullscreen=""
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>


{% endblock %}